@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("../CSS/header.css");
@import url("../CSS/footer.css");

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: "Bebas Neue";
}

h1 {
  margin: 0;
}

/*----------------------------------------------------------------------MAIN------------------------------------------------------------------*/
.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-about {
  width: 80%;
  height: 100%;
  top: 20%;
  text-align: justify;
}

.main-about > h1 {
  font-size: 2em;
  margin-top: 5%;
  font-family: "Open Sans", sans-serif;
}

.main-about > p {
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
}

.about-teams-container1 {
  width: 100%;
  height: 100px;
  border: solid 10px red;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-right: none;
  padding: 1%;
}

.about-teams1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  background-position: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: url(https://wallpaperbat.com/img/457341-free-download-hd-wallpaper-2011-formula-1-grand-prix-of-monaco-1920x1080-for-your-desktop-mobile-tablet-explore-f1-monaco-wallpaper-f1-monaco-wallpaper-monaco-wallpaper-f1-wallpaper.jpg);
}

.about-button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  margin: 5%;
  transition: 0.2s;
}

.about-button:hover,
.about-button:focus {
  background-color: white;
  color: #222;
}

.about-teams-container2 {
  width: 100%;
  height: 100px;
  border: solid 10px red;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-left: none;
  padding: 1%;
}

.about-teams2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-position: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url(https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-07/sporting-news-2022-photo-with-watermark-5cdf767c-6f1b-41c3-ae44-7f002a5ecec4.png?itok=YRenkBfR);
}

.about-teams-container3 {
  width: 100%;
  height: 100px;
  margin-bottom: 3%;
  border: solid 10px red;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom: none;
  padding: 1%;
}

.about-teams3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-image: url(https://wallpapercave.com/wp/wp9839711.jpg);
  background-size: cover;
}

.up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #222222;
  color: black;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  transition: 0.3s;
}

.up-button > img {
  width: 100%;
}

.up-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 1100px) {
  .about-button {
    width: 150px;
    font-size: 0.8em;
  }
  .main-about > p {
    font-size: 1em;
  }
  .main-about > h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 500px) {
  .about-button {
    width: 150px;
  }
}
