/*--------------------------------------------------------------IMPORT FONTS-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("../CSS/header.css");
@import url("../CSS/footer.css");

@font-face {
  font-family: "F1Title";
  src: url("../Fonts/Formula1-Black.ttf") format("truetype");
}

@font-face {
  font-family: "F1Regular";
  src: url("../Fonts/Formula1-Regular-1.ttf") format("truetype");
}

@font-face {
  font-family: "F1RegularBold";
  src: url("../Fonts/Formula1-Bold-4.ttf") format("truetype");
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: "Bebas Neue";
  background-color: #f3f3f3;
}

h1 {
  margin: 0;
}

/*-----------------------------------------------------------------DATA CONTEINER-------------------------------------------------------------*/
.data-container {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.data-select {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: #222222;
}

.data-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding-bottom: 3%;
  padding-top: 3%;
}

.data-content > h1 {
  font-family: "F1Title";
  text-align: center;
  font-size: 3em;
  margin-bottom: 3%;
}

.data-table {
  width: 90%;
  height: 80%;
}

/*-------------------------------------------------TABLA DE LOS CONTENIDOS QUE SE PINTAN------------------------------------------------------*/
.content-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.25em;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-family: "F1Regular";
  text-align: center;
}

.content-table thead tr {
  background-color: #222222;
  color: #ffffff;
  font-family: "F1Title";
  font-size: 1.5em;
  text-transform: uppercase;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #00b9ff;
}


.content-table tbody tr:hover{
  box-shadow: 0 0 3px 3px #00b9ff;
}

.content-table tbody tr:focus{
  box-shadow: 0 0 3px 3px #00b9ff;
}

/*------------------------------------------ESTILOS PARA LOS SELECT QUE PERMITEN FILTRAR LA INFORMACIÓN---------------------------------------*/
.select {
  width: 300px;
  position: relative;
}

#select3 {
  display: none;
}
select {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 2em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

select:hover {
  box-shadow: 0 0 3px 3px #00b9ff;
  border: 2px solid black;
}

select:focus {
  box-shadow: 0 0 3px 3px #00b9ff;
  border: 2px solid black;
}

.select::before,
.select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}
/*-------------------------------------------------------------BOTON ARRIBA----------------------------------------------------------------*/
.up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #222222;
  color: black;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  transition: 0.3s;
}

.up-button > img {
  width: 100%;
}

.up-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/*--------------------------------------------------------------------RESPONSIVE-------------------------------------------------------------*/
@media (max-width: 1100px) {
  .data-content > h1 {
    font-size: 2em;
  }

  .content-table thead tr {
    font-size: 1.25em;
  }
}

@media (max-width: 800px) {
  .data-select {
    height: auto;
    flex-direction: column;
  }
  .select {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .content-table thead tr {
    font-size: 1em;
  }
  .content-table {
    font-size: 0.9em;
  }
}

@media (max-width: 600px) {
  .data-content > h1 {
    font-size: 1.5em;
  }
  .content-table td {
    padding: 12px 0px;
  }
}
