@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  /*background-color: black;*/
  text-align: justify;
}

/*----------------------------------------------------------------------MAIN------------------------------------------------------------------*/
.main {
  width: 100%;
  min-height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f3f3f3;
  --s: 300px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}

.main-bar {
  width: 90%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  margin-right: 15px;
}
.main-bar-filter {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
}

.main-bar-search {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-bar-add {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5%;
}

.posts-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 15px;
}

.post-container {
  width: 90%;
  border-top: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  opacity: 1;
  transition: 0.3s;
}

.post-container:hover {
  opacity: 1;
  background-color: white;
  box-shadow: 0 3px 6px #00b9ff, 0 3px 6px #00b9ff;
}
.post-container:focus {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 3px 6px #00b9ff, 0 3px 6px #00b9ff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-container-1 {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  /*border-right: 1px solid gray;*/
}

.post-container-1 > p {
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.post-container-1 > h1 {
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  width: 80%;
  height: 30%;
  overflow: hidden;
}

.post-container-2 {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  border-left: 1px solid gray;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.1em;
}

.posts-container {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.posts-container-info {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  color: white;
  margin-right: 15px;
}

.post-card-6-edit {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  border-top: 1px solid gray;
}

.editPostBtn {
  width: 40%;
  height: 10%;
  margin: 3%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  transition: 0.5s;
}

.deletePostBtn {
  width: 40%;
  height: 10%;
  margin: 3%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  transition: 0.5s;
}

.deletePostBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.editPostBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.editPostBtn:focus {
  box-shadow: 0px 3px #00b9ff, 0px 3px #00b9ff;
  opacity: 0.75;
}

.deletePostBtn:focus {
  box-shadow: 0px 3px #00b9ff, 0px 3px #00b9ff;
  opacity: 0.75;
}

.posts-container-info > h1 {
  font-size: 1.25em;
}
/*---------------------------------------------------------SEARCH INPUT----------------------------------------------------------------------*/
.group {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 28px;
  width: 90%;
  height: 100px;
}

.input {
  width: 100%;
  height: 50px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  font-size: 1em;
  transition: 0.3s ease;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgb(0, 185, 255);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(0 185 255 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

/*-------------------------------------------------------------SELECT----------------------------------------------------------------------*/

.select {
  width: 70%;
  position: relative;
}
select {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 2em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.select::before,
.select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

/*-------------------------------------------------------------BUTTON ADD---------------------------------------------------------------------*/
.button-add {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  width: 60%;
}

.button-add:hover,
.button-add:focus {
  box-shadow: 0 2px 2px #00b9ff, 0 2px 2px #00b9ff;
}

/*-------------------------------------------------------------PAGINATION---------------------------------------------------------------------*/

/*------------------------------------------------------------------MODAL---------------------------------------------------------------------*/
#new-post-modal {
  width: 80%;
  height: 80%;
  max-width: 800px;
  max-height: 600px;
  overflow: auto;
  overflow-x: hidden;
}

#edit-post-modal {
  width: 80%;
  height: 80%;
  max-width: 800px;
  max-height: 600px;
  overflow: auto;
  overflow-x: hidden;
}

.modal {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}

.modal > h2 {
  font-size: 2em;
}

.close-modal {
  position: absolute;
  z-index: 99;
  margin: 5%;
}

/*------------------------------------------------------------------FORM----------------------------------------------------------------------*/

.themeFormContainer {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7%;
  flex-direction: column;
}

.inputContainer {
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.25em;
  font-weight: bold;
}

.inputTextArea {
  width: 50%;
  height: 150px;
  border: 3px solid #000;
  border-radius: 5px;
  line-height: normal;
  color: #282828;
  display: block;
  box-sizing: border-box;
  /*user-select: auto;*/
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
  resize: none;
}

.inputTextArea:focus {
  box-shadow: 0 2px 2px #00b9ff, 0 2px 2px #00b9ff;
}

.themes-btnCont {
  width: 90%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 25px;
}

.confirmTheme {
  width: 40%;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
}

.confirmTheme:hover {
  transform: translateY(-2px);
}
.confirmTheme:focus {
  box-shadow: 0px 3px #00b9ff, 0px 3px #00b9ff;
  opacity: 0.75;
  border: 3px solid #000;
}

.backTheme {
  width: 40%;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  background: transparent;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;
}
.backTheme:hover {
  transform: translateY(-2px);
}
.backTheme:focus {
  box-shadow: 0px 3px #00b9ff, 0px 3px #00b9ff;
  opacity: 0.75;
  border: 3px solid #000;
}

#privacyTheme {
  cursor: pointer;
  text-decoration: underline;
}

#privacyTheme:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

#privacyThemeEdit {
  cursor: pointer;
  text-decoration: underline;
}

#privacyThemeEdit:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

#cbxError {
  display: none;
  color: red;
  margin: 0;
}

#nameError {
  display: none;
  color: red;
  margin: 0;
}

#cbxErrorEdit {
  display: none;
  color: red;
  margin: 0;
}

#nameErrorEdit {
  display: none;
  color: red;
  margin: 0;
}

.checkbox-wrapper-46 {
  padding-top: 5%;
}

.checkbox-wrapper-46 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098a9;
  transition: all 0.2s ease;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506eec;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 8px;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
  border-color: #506eec;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
  background: #506eec;
  border-color: #506eec;
  animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}

.img-noresult {
  width: 500px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-noresult > img {
  width: 50%;
}

/*-----------------------------------------------------------------RESPONSIVE-----------------------------------------------------------------*/
@media (max-width: 1400px) {
  .main-bar-search {
    width: 30%;
  }
}

@media (max-width: 1200px) {
  .main-bar-add {
    width: 30%;
  }

  .main-bar-filter {
    width: 30%;
  }

}

@media (max-width: 1000px) {
  .posts-container-info > h1 {
    font-size: 1.25em;
    margin-left: 2%;
    margin-right: 2%;
  }
  .post-container-1 > h1 {
    width: 60%;
    padding-left: 0;
  }
  .post-container-2{
    font-size: 1em;
  }
}

@media (max-width: 700px) {
  .main-bar {
    height: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .post-container-1 > h1 {
    width: 40%;
  }

  .main-bar-search {
    width: 80%;
    margin-bottom: -5%;
  }

  .main-bar-add {
    width: 120%;
    padding: 0;
  }

  .main-bar-filter {
    width: 100%;
    padding: 0;
    margin-bottom: -5%;
  }
  .posts-container-info > h1 {
    font-size: 1.25em;
  }
  .editPostBtn > img {
    width: 20px;
  }
  .deletePostBtn > img {
    width: 20px;
  }

  .post-container-1 > p {
    font-size: 0.9em;
  }

  .post-container-1 > h1 {
    font-size: 0.9em;
  }
  .post-container-2{
    font-size: 0.9em;
  }
}

@media (max-width: 500px) {
  .editPostBtn > img {
    width: 15px;
  }
  .deletePostBtn > img {
    width: 15px;
  }
}
