/*--------------------------------------------------------------IMPORT FONTS-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: "Bebas Neue";
}

.header > h1 {
  margin: 0;
}

/*-----------------------------------------------------------HEADER DE LA SECCION MAIN--------------------------------------------------------*/
.header {
  position: absolute;
  /*z-index: 90;*/
  width: 100%;
  height: 15%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #222222;
  font-family: "Bebas Neue";
  font-weight: 400;
  /*box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
}
.header a {
  text-decoration: none;
  color: white;
}
.header-drop-containerData {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 25%;
  top: -20.3%;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header-container1 {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.8em;
  cursor: pointer;
}

.header-container2 {
  height: 100%;
  width: 50%;
  padding-right: 3%;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: row;
  border-left: 2px solid #00b9ff;
  border-right: 2px solid #00b9ff;
  gap: 3%;
  font-size: 1.5em;
  font-weight: 500;
  color: white;
}

.header-container2 > p {
  cursor: pointer;
  transition: 0.3s;
}
.header-container2 > a{
  transition: 0.3s;
}

.header-container2 > a:hover{
  transform: scale(1.05);
  text-decoration: #00b9ff underline;
}
.header-container2 > a:focus{
  transform: scale(1.05);
  text-decoration: #00b9ff underline;
}

.header-container2 > p:hover {
  opacity: 0.6;
}


.progress-bar:hover:after {
  width: 100%;
}

.progress-bar:after {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0;
  height: 3px;
  background: white;
  display: block;
  content: "";
  transition: width 0.5s ease-in-out;
}

.progress-bar:hover:after {
  width: 100%;
}

#redirectFormEnterH3About:hover {
  text-decoration: #00acee underline;
  cursor: pointer;
  opacity: 0.65;
}

#redirectFormEnterH3About:focus {
  text-decoration: #00acee underline;
  cursor: pointer;
  opacity: 0.75;
}
#redirectFormEnterH1Main{
  transition: 0.3s;
}
#redirectFormEnterH1Main:hover{
  transform: scale(1.05);
  text-decoration: #00b9ff underline;
}
#redirectFormEnterH1Main:focus{
  transform: scale(1.05);
  text-decoration: #00b9ff underline;
}

.header-container3 {
  height: 100%;
  width: 30%;
}

.header-drop-container {
  display: none;
  position: absolute;
  z-index: 97;
  width: 100%;
  height: 20%;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  color: white;
  background-color: #222222;
  font-family: "Bebas Neue";
  border-bottom: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header-drop-container-options {
  width: 25%;
  height: 90%;
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: column;
}

.header-drop-container-options2 {
  width: 30%;
  height: 90%;
  gap: 5%;
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: column;
  transition: 0.5s;
}

.header-drop-container-options > h1 {
  margin-left: 25%;
  font-size: 2em;
}

.header-drop-container-options > h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  margin-left: 25%;
  font-size: 1.7em;
  transition: 0.3s;
  font-weight: 400;
}

.header-drop-container-options > h3 > img {
  width: 5%;
  margin-right: 3%;
  transform: rotate(270deg);
}

.header-drop-container-options > h3:hover {
  text-decoration: #00acee underline;
  cursor: pointer;
  opacity: 0.65;
}

.header-drop-container-options2 > a {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  flex-direction: row;
  margin-left: 25%;
  font-size: 1.5em;
  transition: 0.3s;
}

.header-drop-container-options2 > a:hover {
  text-decoration: #00acee underline;
  cursor: pointer;
  opacity: 0.75;
}

.header-drop-container-options2 > a:focus {
  text-decoration: #00acee underline;
  cursor: pointer;
}

.header-drop-container-options2 > a > img {
  width: 5%;
  margin-right: 3%;
  transform: rotate(270deg);
}

.header-drop-container a {
  text-decoration: none;
  color: white;
}

.user {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  color: white;
}

.user > p {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.logOutBtn {
  font-family: "Bebas Neue";
  display: flex;
  align-items: center;
  justify-content: space-around;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: white;
  color: black;
  border-radius: 8px;
  padding: 3%;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1;
  width: 150px;
  height: 40px;
  transition: transform 200ms, background 200ms;
  text-align: center;
  padding-left: 20px;
}

.logOutBtn:focus {
  box-shadow: 0 0 3px 3px #00b9ff;
  border: 3px solid black;
}

.logOutBtn:hover {
  box-shadow: 0 0 3px 3px #00b9ff;
  border: 3px solid black;
}

/*-----------------------------------------------------------------HEADER SPECIFICS-----------------------------------------------------------*/
.header-container {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* background-image: url(https://www.f1-fansite.com/wp-content/uploads/2023/06/SI202306040579.jpg);*/
  background-size: cover;
}

/*.header-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}*/

.title-header-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  position: absolute;
  color: white;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  font-size: 5em;
}

#redirectFormEnterH1Main{
  transition: 0.3s;
}
#redirectFormEnterH1Main:hover{
  transform: scale(1.05);
  text-decoration: #00b9ff underline;
}

/*-----------------------------------------------------------------RESPONSIVE-----------------------------------------------------------------*/
@media (max-width: 1500px) {
  .title-header-container {
    font-size: 4.5em;
  }
  .header-container1 {
    font-size: 1.25em;
  }
}

@media (max-width: 1300px) {
  .user {
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  .user > p {
    font-size: 1.25em;
  }
  .logOutBtn {
    width: 120px;
    font-size: 1em;
  }
  .logOutBtn > img {
    width: 20px;
  }
}

@media (max-width: 1100px) {
  .header {
    top: 0%;
    flex-direction: column;
    height: 30%;
  }
  .header-container {
    height: 30%;
  }
  .header-drop-container {
    top: 30%;
  }

  .header-container1 {
    width: 90%;
    height: 40%;
  }
  .header-container2 {
    width: 97%;
    height: 60%;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #00b9ff;
    border-left: none;
  }

  .header-container3 {
    border-top: 2px solid #00b9ff;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user > p {
    font-size: 1.5em;
  }
  .logOutBtn {
    width: 150px;
    height: 20px;
    padding: 20px;
    font-size: 1em;
  }
  .logOutBtn > img {
    width: 20px;
  }
}

@media (max-width: 1100px) {
  .title-header-container {
    font-size: 4em;
  }

  .header-container1 {
    font-size: 1.25em;
  }

  .header-drop-container-options > h1 {
    font-size: 2em;
  }

  .header-drop-container-options > h3 {
    font-size: 1.5em;
  }

  .header-drop-container-options2 > p {
    font-size: 1.25em;
  }
}

@media (max-width: 900px) {
  .header-drop-container-options{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-drop-container-options > h1 {
    font-size: 2em;
    width: 200px;
    /*margin-left: -12%;*/
  }

  .header-drop-container-options > h3 {
    font-size: 1.5em;
    width: 200px;
    /*margin-left: -15%;*/
  }
  .header-drop-container-options2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-drop-container-options2 > p {
    font-size: 1.25em;
    margin-left: -1%;
  }
  .header-drop-container-options > h3 > img{
    width: 10px;
  }
  .header-drop-container-options2 > a > img{
    width: 10px;
  }
}

@media (max-width: 850px) {
  .title-header-container {
    font-size: 3em;
  }
  .header-container3 {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .title-header-container {
    font-size: 2em;
  }
  .user {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .header-drop-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
  }
  .header-drop-container-options > h1 {
    font-size: 1.5em;
  }
  .header-drop-container-options > h3 {
    font-size: 1.25em;
  }
  .header-drop-container-options {
    margin: 0;
  }
  .header-drop-container-options2 {
    flex-direction: row;
    gap: 1%;
    font-size: 0.7em;
  }
}

@media (max-width: 510px) {
  .header-container2 {
    font-size: 1em;
  }
  .header-drop-container-options > h1 {
    font-size: 1.25em;
  }
  .header-drop-container-options > h3 {
    font-size: 1em;
  }
  .user {
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  .user > p {
    font-size: 1em;
  }
  .logOutBtn {
    width: 120px;
    height: 30px;
    font-size: 0.75em;
  }
  .logOutBtn > img {
    width: 15px;
  }
}

@media (max-width: 430px) {
  .header-container2 {
    font-size: 0.9em;
  }
  .title-header-container {
    font-size: 1.75em;
  }
}
