@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

@font-face {
  font-family: 'F1Title';
  src: url('/Fonts/Formula1-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'F1Regular';
  src: url('/Fonts/Formula1-Regular-1.ttf') format('truetype');
}

@font-face {
  font-family: 'F1RegularBold';
  src: url('/Fonts/Formula1-Bold-4.ttf') format('truetype');
}

body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

/*-----------------------------------------------------------------HEADER SPECIFICS-----------------------------------------------------------*/
.header-container{
    width: 100%;
    height: 50%;
    background-image: url(https://img2.rtve.es/i/?w=1600&i=1680083321103.JPG);
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
  }
  
  .header-container::before {
    content: ""; /* Se necesita un contenido vacío para que el pseudo-elemento sea visible */
    position: absolute; /* Posiciona el pseudo-elemento encima del contenedor */
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con una opacidad del 50% */
  }
  
  .title-header-container{
    width: 100%;
    height: 20%;
    position: absolute;
    color: white;
    top: 30%;
    left: 85%;
    transform: translate(-50%);
    font-size: 5em;
  }

  .main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*-------------------------------------------------------------DRIVER STANDINGS---------------------------------------------------------------*/
.standings-container{
  width: 100%;
  height: 100%;
  background-color: #F3F3F3;
}

.standings-driver-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1%;
  margin-top: 1%;
  gap: 1%;
}

.standings-driver{
  width: 70%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.standings-driver:hover{
  background-color: #222222;
  color: white;
}

.standings-driver-info{
  width: 70%;
  height: 300px;
  margin-top: -0.5%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: #222222;
  font-family: "F1Title";
  color: white;
}

.standings-driver-info-photo{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 15px;
  background-color: #222222;
  background-image: url(https://media.formula1.com/content/dam/fom-website/drivers/2024Drivers/alonso.jpg.img.1920.medium.jpg/1708344615576.jpg);
  object-fit: cover;
  background-size: 100%;
}

.standings-driver-info-info{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom-right-radius: 15px;
}

.standings-driver-info-info-main{
  width: 90%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.standings-driver-info-info-main-name{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.standings-driver-info-info-main-number{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1.5em;

}
.standings-driver-info-info-main-number > img{
  width: 30%;
  margin-left: 15%;
  margin-bottom: 1%;
  border-radius: 3px;
}

.standings-driver-info-info-main-helmet{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.standings-driver-info-info-main-helmet > img{
  width: 30%;
}


.standings-driver-info-info-extra{
  width: 90%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: "F1RegularBold";
}

.standings-driver-info-info-extra > div{
  width: 50%;
  height: 50%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  gap: 15%;
  background-color: #222222;
}

.standings-driver-info-info-extra > div > p{
  margin: 0;
  margin-left: 10%;
} 

.bar{
  width: 7px;
  height: 50%;
  background-color: red;
  margin-left: -25%;
}

.points{
  width: 10%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: white;
  font-size: 1.5em;
  background-color: gray;
}

.position{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1.8em;
}

.team{
  font-size: 1.5em;
}

.name{
  font-size: 1.8em;
}

  