@font-face {
    font-family: 'F1Regular';
    src: url('../Fonts/Formula1-Regular-1.ttf') format('truetype');
  }
  

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    font-family: "F1Regular";
}

@media (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 986px;
    }
}

@media (min-width: 1360px) {
    .container {
        max-width: 1320px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.col-md-5, .col-md-7, .col-lg-4, .col-lg-8, .col-xl-3, .col-xl-9 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 768px) {

    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
}

@media (min-width: 1024px) {

    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}

@media (min-width: 1360px) {

    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

.d-none {
    display: none !important;
}

/* Including Bootstrap modal */

@font-face {
    font-family: "icomoon";
    src: url("fonts/icomoon/fonts/icomoon.eot?x3ba1v");
    src: url("fonts/icomoon/fonts/icomoon.eot?x3ba1v#iefix") format("embedded-opentype"), url("fonts/icomoon/fonts/icomoon.ttf?x3ba1v") format("truetype"), url("fonts/icomoon/fonts/icomoon.woff?x3ba1v") format("woff"), url("fonts/icomoon/fonts/icomoon.svg?x3ba1v#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
    content: "\e914";
}

.f1-color--white {
    color: #ffffff;
}

/*Defaults */

@keyframes ring {
    0% {
        transform: translate(-50%, -02%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) scale(5);
        opacity: 0;
    }
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

.f1-live {
    position: relative;
}

.f1-live:before, .f1-live:after {
    content: '';
    display: block;
    backface-visibility: hidden;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 7px;
    width: 7px;
}

.f1-live:before {
    animation: none;
    background: currentColor;
}

.f1-live:after {
    animation: ring 0.5s infinite linear;
    background: #e10600;
    box-shadow: 0 0 0 1px;
}

.f1-live.f1-color--white:after {
    background: #ffffff;
}

/*
F1Regular and F1RegularItalic
*/
@font-face {
    font-family: 'F1';
    src: url("/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.woff2") format("woff2"), url("/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'F1';
    src: url("/etc/designs/fom-website/fonts/F1RegularItalic/Formula1-Italic.woff2") format("woff2"), url("/etc/designs/fom-website/fonts/F1RegularItalic/Formula1-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

/*
F1Bold
*/
@font-face {
    font-family: 'F1Bold';
    src: url("/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.woff2") format("woff2"), url("/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/*
F1Black
*/
@font-face {
    font-family: 'F1Black';
    src: url("/etc/designs/fom-website/fonts/F1Black/Formula1-Black.woff2") format("woff2"), url("/etc/designs/fom-website/fonts/F1Black/Formula1-Black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/*
F1Wide
*/
@font-face {
    font-family: 'F1Wide';
    src: url("/etc/designs/fom-website/fonts/F1Wide/Formula1-Wide.woff2") format("woff2"), url("/etc/designs/fom-website/fonts/F1Wide/Formula1-Wide.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.misc--label {
    font-family: "Titillium Web";
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.f1--xxs {
    font-family: "F1";
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.f1-bold--xxs {
    font-family: "F1Bold";
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.f1-uppercase {
    text-transform: uppercase;
}

.f1-center {
    text-align: center;
}

.btn {
    appearance: none;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s cubic-bezier(0.2, 0, 0.05, 1);
    font-family: "Titillium Web";
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    font-weight: normal;
    font-weight: 600;
    position: relative;
    padding: 12px 35px 12px 15px;
}

.btn i {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    height: 1em;
    width: 1em;
    margin-top: -1px;
}

.btn i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn.btn--default {
    background: #e10600;
    box-shadow: none;
    color: #ffffff;
}

.btn.btn--default:hover, .btn.btn--default:focus {
    box-shadow: 0 0 0 2px #e10600 inset;
    background: #ffffff;
    color: #15151e;
}

.btn.btn--default:hover i, .btn.btn--default:hover:after, .btn.btn--default:focus i, .btn.btn--default:focus:after {
    color: #e10600;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Titillium Web";
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.2px;
    background: #ffffff;
    background-size: 100% auto;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Some HTML5 Elements Support */

/*Generic DFP banners */

.no-margin {
    margin: 0;
}

.text-semi-bold {
    font-weight: 600;
}

.rolex-clock {
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

.rolex-clock--face, .rolex-clock--hours, .rolex-clock--minutes, .rolex-clock--seconds {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: absolute;
}

.rolex-clock--face {
    background-image: url(images/rolex-clock/face.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .rolex-clock--face {
        background-image: url(images/rolex-clock/face@2x.png);
    }
}

.rolex-clock--hours {
    background-image: url(images/rolex-clock/hour-hand.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .rolex-clock--hours {
        background-image: url(images/rolex-clock/hour-hand@2x.png);
    }
}

.rolex-clock--minutes {
    background-image: url(images/rolex-clock/minute-hand.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .rolex-clock--minutes {
        background-image: url(images/rolex-clock/minute-hand@2x.png);
    }
}

.rolex-clock--seconds {
    animation: rotate 60s infinite linear;
    background-image: url(images/rolex-clock/second-hand.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .rolex-clock--seconds {
        background-image: url(images/rolex-clock/second-hand@2x.png);
    }
}

body {
    margin-top: 120px;
}

@media (max-width: 1023px) {
    body {
        margin-top: 64px;
    }
}

@media (max-width: 767px) {
    body {
        margin-top: 50px;
    }
}

.countdown-wrapper {
    background-color: #000000;
    padding: 10px 0;
    border-bottom: 1px solid #38383f;
}

@media (min-width: 1024px) {
    .countdown-wrapper {
        padding: 20px 0;
    }
}

.countdown-wrapper .countdown-clock-wrapper {
    display: table;
    width: 100%;
    margin-top: 2px;
}

@media (min-width: 768px) {
    .countdown-wrapper .countdown-clock-wrapper {
        margin-top: 0;
    }
}

.countdown-wrapper .countdown-clock-wrapper .countdown-clock {
    display: table-cell;
    padding: 10px;
    background-color: #1f1f27;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    vertical-align: middle;
}

.countdown-wrapper .countdown-clock-wrapper .countdown-clock .title-bar {
    padding: 5px;
    background-color: #38383f;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 165px;
    margin-left: auto;
    margin-right: auto;
}

.countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock {
    display: table;
    margin: 0 auto;
    white-space: nowrap;
    font-feature-settings: "tnum";
}

.countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .countdown-text {
    font-family: "F1Bold";
    font-size: 22px;
    line-height: 26px;
}

@media (min-width: 768px) {
    .countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .countdown-text {
        font-size: 32px;
        line-height: 36px;
    }
}

@media (min-width: 768px) {
    .countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .countdown-text {
        font-family: "F1Bold";
        font-size: 20px;
        line-height: 24px;
    }
}

@media (min-width: 768px) and (min-width: 768px) {
    .countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .countdown-text {
        font-size: 25px;
        line-height: 30px;
    }
}

@media (min-width: 1360px) {
    .countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .countdown-text {
        font-family: "F1Bold";
        font-size: 22px;
        line-height: 26px;
    }
}

@media (min-width: 1360px) and (min-width: 768px) {
    .countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .countdown-text {
        font-size: 32px;
        line-height: 36px;
    }
}

.countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .days, .countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .hours, .countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .minutes, .countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .seconds {
    display: table-cell;
    color: #ffffff;
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid #38383f;
}

.countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .days:first-child {
    border-left: 0;
}

.countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .days > span, .countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .hours > span, .countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .minutes > span, .countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .seconds > span {
    display: block;
    color: #949498;
}

.countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .days p, .countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .hours p, .countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .minutes p, .countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .seconds p {
    margin-bottom: 0;
}

.countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .days {
    padding-left: 0;
}

.countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .seconds {
    padding-right: 0;
}

.countdown-wrapper .countdown-clock-wrapper .countdown-clock .clock .days:not(.d-none) + .hours + .minutes {
    padding-right: 0;
}

.countdown-wrapper .countdown-clock-wrapper .rolex-logo {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 10px 8px;
    background-color: #38383f;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 2px solid #000000;
}

.countdown-wrapper .countdown-clock-wrapper .rolex-logo .rolex-clock {
    width: 70px;
    height: 70px;
    margin: auto;
}

.countdown-wrapper .btn--join-live {
    display: none;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.countdown-wrapper .btn--join-live .f1-live {
    display: inline;
    margin-left: 15px;
    position: relative;
    right: 0;
}

.race-status-wrapper {
    margin-bottom: 10px;
}

.race-info-wrapper {
    display: flex;
}

.race-info-wrapper .circuit-image-wrapper {
    border-top: solid 1px #38383f;
    border-right: solid 1px #38383f;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.race-info-wrapper .race-text-wrapper {
    border-top: solid 1px #38383f;
    width: 100%;
    padding-top: 12px;
}

@media (min-width: 768px) {
    .race-info-wrapper .race-text-wrapper {
        padding-top: 15px;
    }
}

@media (min-width: 1360px) {
    .race-info-wrapper .race-text-wrapper {
        padding-top: 20px;
    }
}

.race-title-wrapper {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .race-title-wrapper {
        margin-bottom: 0;
        height: 100%;
    }
}

@media (min-width: 1024px) {
    .race-title-wrapper {
        display: table;
        width: 100%;
    }
}

.race-title-wrapper .race-text-link {
    margin: 0 auto;
    display: inline-flex;
}

.race-text-wrapper img {
    display: inline-block;
    width: 54px;
    margin-top: 5px;
    margin-left: 5px;
}

@media (min-width: 768px) {
    .race-text-wrapper img {
        width: 75px;
    }
}

@media (min-width: 1360px) {
    .race-text-wrapper img {
        width: 100px;
    }
}

.race-text-wrapper .race-text {
    display: inline-block;
    font-family: "F1Bold";
    font-size: 16px;
    line-height: 18px;
}

@media (min-width: 768px) {
    .race-text-wrapper .race-text {
        font-size: 17px;
        line-height: 23px;
    }
}

@media (min-width: 768px) {
    .race-text-wrapper .race-text {
        font-family: "F1Bold";
        font-size: 20px;
        line-height: 24px;
    }
}

@media (min-width: 768px) and (min-width: 768px) {
    .race-text-wrapper .race-text {
        font-size: 25px;
        line-height: 30px;
    }
}

@media (min-width: 1360px) {
    .race-text-wrapper .race-text {
        font-family: "F1Bold";
        font-size: 22px;
        line-height: 26px;
    }
}

@media (min-width: 1360px) and (min-width: 768px) {
    .race-text-wrapper .race-text {
        font-size: 32px;
        line-height: 36px;
    }
}

.race-text-wrapper .icon {
    color: #ffffff;
    align-self: center;
    font-family: "F1";
    font-size: 16px;
    line-height: 18px;
}

@media (min-width: 768px) {
    .race-text-wrapper .icon {
        font-size: 17px;
        line-height: 23px;
    }
}

@media (min-width: 1024px) {
    .race-text-wrapper .icon {
        font-family: "F1";
        font-size: 20px;
        line-height: 24px;
    }
}

@media (min-width: 1024px) and (min-width: 768px) {
    .race-text-wrapper .icon {
        font-size: 25px;
        line-height: 30px;
    }
}

.circuit-image-wrapper {
    width: 50px;
    margin-right: 10px;
}

.circuit-image-wrapper img {
    width: 40px;
}

@media (min-width: 768px) {
    .circuit-image-wrapper {
        width: 70px;
        margin-right: 15px;
    }

    .circuit-image-wrapper img {
        width: 50px;
    }
}

@media (min-width: 1360px) {
    .circuit-image-wrapper {
        width: 100px;
    }

    .circuit-image-wrapper img {
        width: 75px;
    }
}

/*# sourceMappingURL=libs.min.css.map */
