@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url('../CSS/header.css');
@import url('../CSS/footer.css');

@font-face {
  font-family: 'F1Title';
  src: url('../Fonts/Formula1-Black.ttf') format('truetype');
}

:root {
  --RedBull: #3671C6;
  --Ferrari: #DC0000;
  --McLaren: #FF8000;
  --Mercedes: #00D2BE;
  --AstonMartin: #229971;
  --RBF1Team: #6692FF;
  --HaasF1Team: 	#B6BABD;
  --Williams: #00A0DE;
  --Sauber: #52E252;
  --AlpineF1Team: #FF87BC;
}


body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: #f3f3f3;
}

h1 {
  margin: 0;
}

:root {
  --aston-martin: #2d826d;
  --ferrari: #DC0000;
}

/*-----------------------------------------------------------------HEADER SPECIFICS-----------------------------------------------------------*/
.header-container{
  width: 100%;
  height: 50%;
  background-image: url(https://media.formula1.com/image/upload/content/dam/fom-website/races/2023/race-listing/Bahrain%20Testing.jpg);
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
  background-position: center;
}

.header-container::before {
  content: ""; /* Se necesita un contenido vacío para que el pseudo-elemento sea visible */
  position: absolute; /* Posiciona el pseudo-elemento encima del contenedor */
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con una opacidad del 50% */
}

.title-header-container{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  position: absolute;
  color: white;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  font-size: 5em;
}
/*----------------------------------------------------------------------MAIN------------------------------------------------------------------*/
.main{
    width: 100%;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    gap: 2%;
}

.teams-title-container{
  width: 80%;
  height: 5%;
  display: flex;
  align-items: center;
  margin-top: 3%;
  border: solid 10px #222222;
  color: #222222;
  border-top-left-radius: 25px; 
  border-bottom-left-radius: 25px; 
  border-right: none;
  padding: 1%;
}

.teams-title-container{
  font-family: "F1Title";
  font-size: 3em;
}

.teams-container{ 
  width: 80%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  color: #222222;
}

.team-card-container{
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  margin-top: 3%;
  border: solid 5px var(--aston-martin);
  border-top-right-radius: 25px; 
  border-left: none;
  border-bottom: none;
  padding: 1%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-bottom: 3%;
  background-color: white;
}

.team-card{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  font-family: "F1Title";
  flex-direction: column;
}

.team-card-divider{
  width: 90%;
  height: 1px;
  margin-top: -5%;
  margin-bottom: -5%;
  background-color: black;
}

.team-card-divider2{
  width: 90%;
  height: 1px;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: black;
}

.team-card-title{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  flex-direction: row;
  gap: 5%;
  font-family: "F1Title";
}

.team-card-title > h1 {
  width: 60%;
  height: 100%;
  padding-top: 5%;
  padding-left: 5%;
  text-transform: uppercase;
  font-size: 2em;
}

.team-card-title > div{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -6%;
}

.team-card-title >div> img {
  width: 50%;
}

.team-card-drivers{
  width: 95%;
  height: 20%;
  display: flex;
  align-items: left ;
  justify-content: center;
  flex-direction: column;
  gap: 1%;
  margin-top: 5%;
}

.team-card-driver-container {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  margin-left: 3%;
  border: solid 1px black;
  border-bottom-left-radius: 25px; 
  border-right: none;
  border-top: none;
  padding: 1%;
}
.team-card-driver{
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.team-card-driver > h1{
  margin-left: 5%;
  font-size: 1.3em;
}

.team-card-driver > img{
  width: 19%;
  margin-bottom: -0.6%;
}

.team-card-cars{
  width: 90%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-card-cars > img{
  width: 100%;  
  --color: #E1E1E1;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 80px 80px;
}