/*--------------------------------------------------------------IMPORT FONTS-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3;
  text-align: center;
  --s: 200px; /* control the size */
  --c1: #222222;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}

/*--------------------------------------------------------------MAIN--------------------------------------------------------------------------*/
.main {
  width: 70%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-foto {
  position: relative;
  width: 40%;
  height: 100%;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  border-right: 2px solid black;
  position: relative;
  overflow: hidden;
}

.main-foto > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-foto::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  z-index: 1;
}

.main-info-Login {
  width: 60%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3%;
}

.main-info-Login > h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.main-info-Login > p:hover {
  cursor: pointer;
  text-decoration: 2px solid #00b9ff underline;
}

.main-info-Register {
  width: 60%;
  height: 100%;
  margin-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3%;
  display: none;
}

.main-info-Register > h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.main-info-Register > p:hover {
  cursor: pointer;
  text-decoration: 2px solid #00b9ff underline;
}

.main-info-Pwd {
  width: 60%;
  height: 100%;
  margin-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3%;
  display: none;
}

.main-info-Pwd > h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

.main-info-Pwd > p:hover {
  cursor: pointer;
  text-decoration: 2px solid #00b9ff underline;
}

.main-info-Register > #titRegister {
  font-size: 2em;
  margin-bottom: -30px;
}

/*-------------------------------------------------------------INPUT USERNAME y PWD-----------------------------------------------------------*/
.formField {
  margin: 10px;
  position: relative;
}

.formField input {
  width: 500px;
  height: 20px;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #333;
  font-size: 16px;
  font-weight: 550;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 0 5px transparent;
}

.formField input:hover,
.formField input:focus {
  box-shadow: 0 0 0 2px #333;
}

.formField span {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px 15px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  text-shadow: -1px -1px 0 #f1f1f1, 1px -1px 0 #f1f1f1, -1px 1px 0 #f1f1f1,
    1px 1px 0 #f1f1f1;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}

.formField input:focus + span,
.formField input:valid + span {
  transform: translateY(-32px) translateX(-5px) scale(0.95);
  transition: 0.3s ease-in-out;
}

#togglePasswordBtn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

/* Estilo adicional para el ícono de la contraseña */
#passwordIcon {
  color: #333;
}
/* Estilo para mostrar los errores */
#pwdError {
  display: none;
  margin: 0;
  margin-top: -25px;
  margin-bottom: -25px;
  font-size: 0.9em;
  color: red;
  width: 120%;
}
#pwdError:hover {
  text-decoration: none;
  cursor: default;
}
/*-------------------------------------------------------------------BUTTONS------------------------------------------------------------------*/

.buttons {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  width: 200px;
}

.buttons:hover,
.buttons:focus {
  opacity: 0.75;
}

#login {
  margin-bottom: 1%;
}

#usernameField {
  margin-bottom: 2%;
}

#pwdeField {
  margin-bottom: 20%;
}

#registerFormChange {
  width: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: -2%;
  margin-bottom: -1%;
  text-align: center;
}

#home {
  margin-bottom: 20px;
}

#tit-register {
  font-size: 2em;
}
/*-----------------------------------------------------------------RESPONSIVE-----------------------------------------------------------------*/
@media (max-width: 1600px) {
  .main-info-Register > h1 {
    font-size: 2em;
  }
}

@media (max-width: 1300px) {
  #tit-register {
    font-size: 1.65em;
    margin-bottom: -20px;
  }
}

@media (max-width: 1200px) {
  .formField input {
    width: 300px;
  }
  #registerFormChange {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .formField input {
    width: 200px;
  }
  #registerFormChange {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .main-info-Login > h1 {
    font-size: 2em;
  }
  .main-info-Login > p {
    font-size: 0.9em;
    text-align: center;
  }

  .main-info-Pwd > h1 {
    font-size: 2em;
  }
  .main-info-Pwd > p {
    font-size: 0.9em;
    text-align: center;
  }

  #registerFormChange {
    font-size: 0.9em;
  }
  .main-foto {
    display: none;
  }
  .buttons {
    width: 150px;
  }
  .main-info-Register {
    width: 100%;
  }
  #tit-register {
    margin-bottom: 0px;
  }
  #pwdError {
    font-size: 0.75em;
  }
}

@media (max-width: 600px) {
  .main-info-Register > h1 {
    font-size: 1.5em;
  }

  #home {
    margin-bottom: 10%;
  }
}

@media (max-width: 500px) {
  .main-info-Login > h1 {
    font-size: 1.75em;
  }
}

@media (max-height: 800px) {
  .main {
    height: 670px;
  }
  #pwdError {
    width: 140%;
  }
  #loginFormChange {
    margin-bottom: -10px;
  }
}

@media (max-height: 900px) {
  #register {
    margin-bottom: -10px;
  }
}
